* {
    transition: 2s ease-in-out;
}
body {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    background: linear-gradient(50deg,purple , #1C92C4 , #1C9260);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}
header {
    width: 100%;
    max-height: 150px;
    height: 150px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.753);
    justify-content: space-between;
}
header .boxemail {
    display: none;
}
header a {
    display: flex;
    text-decoration: none;
}
header a h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 35px;
    margin-left: 3px;
}
header img {
    width: 100px;
    margin-top: 10px;
    height: 80px;
}
header ul {
    display: flex;
    list-style: none;   
}
header ul li {
    padding: 5px;
}
header ul li a {
    text-decoration: none;
    color: white;
    background-color: #97D07E;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.753);
}
header ul li a:hover {
    background-color: #1C9E75;
    cursor: pointer;
}
header ul li .stand {
    background-color: #1C9E75;
}
main {
    text-align: center;
    width: 50%;
    position: fixed;
    left: 25%;
    max-height: 75%;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 10px;
    overflow: auto;
    display: flex;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.747);
    padding: 10px;
    line-height: 22px;
    overflow-x: hidden;
}
main h2 {
    color: #1C9E75;
}
main h3 {
    color: white;
}
main .titulo_historia {
    width: 50%;
}
main .box-email {
    width: 300px;
    height: 400px;
    background-color: #1C9E75;
    position: absolute;
    left: 60%;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 3px;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.747);
}
main .box-email p {
    color: rgba(0, 0, 0, 0.808);
    position: relative;
    margin-top: 30px;
}
main .box-email input {
    margin-top: 20px;
    position: relative;
    top: 10px;
    padding: 5px;
    width: 250px;
    color: black;
    border-radius: 3px;
}
main .box-email input::placeholder {
    color: black;
}
main .box-email input:hover {
    background-image: linear-gradient(90deg,rgba(128, 0, 128, 0.685) , #1c92c4a9 , rgba(0, 128, 0, 0.726));
}
main .box-email .enviar {
    width: 100px;
    font-size: 16px;
    position: relative;
    top: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
}
main .box-email .enviar:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg,rgba(128, 0, 128, 0.685) , #1c92c4a9 , rgba(0, 128, 0, 0.726));
}
main .box-email a {
    text-decoration: none;
    padding: 2px;
    background-color: white;
    border-radius: 4px;
    color: black;
}
main .box-email a:hover {
    background-image: linear-gradient(90deg,rgba(128, 0, 128, 0.685) , #1c92c4a9 , rgba(0, 128, 0, 0.726));
}
main .historia {
    width: 50%;
}
main::-webkit-scrollbar {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 5px;
}
main::-webkit-scrollbar-thumb {
    background-color: rgb(78, 204, 78);
    border: 1px solid black;
}

footer {
    bottom: 0px;
    background-image: linear-gradient(55deg,purple , #1C92C4, #1c92c46b, rgba(0, 128, 0, 0.226) );
    position: fixed;
    text-align: center;
    border-top: 2px solid black;
    width: 100%;
    max-height: 50px;
    height: 50px;
    text-decoration: none;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1440px) {
    main {
        width: 80%;
        left: 10%;
        height: 70%;
    }
}
@media screen and (max-width: 930px) {
    main .box-email {
        left: 55%;
    }
}
@media screen and (max-width: 829px) {
    main .box-email {
        left: 51%;
    }
}
@media screen and (max-width: 749px) {
    main .box-email {
        display: none;
    }
    header ul li .boxemail{
        display: flex;
        position: fixed;
        right: 15px;
        top: -40px;
    }
    main .historia{
        width: 100%;
    }
    main .titulo_historia {
        width: 100%;
    }
}
@media screen and (max-width: 648px) {
    header img {
        display: none;
    }
    header {
        display: block;
        justify-content: left;
    }
    header a {
        width: 70px;
    }
    header ul li {
        transform: translateX(-42px);
    }
    main {
        width: 95vw;
        left: 0%;
    }
}
@media screen and (max-width: 460px) {
    main {
        height: 61%;
    }
}
